@import 'https://fonts.googleapis.com/css?family=Oswald';

p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

body {
    background: white;
    color: black;
}

.perg {
    margin: 14% 10% 0;
    font-size: 3em;
}

.refresh {
    width: 100% !important;
    padding: 40px;
    text-align: center;
    border: 0;
    font-size: 2em;
}
             
 .btn-grad {
    background-image: linear-gradient(to right, #CC95C0 0%, #DBD4B4  51%, #CC95C0  100%);
    
    
    
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

.pergunta {
    height: 80%;
}

.share {
    font-size: 2em;
}

.credits {
    font-size: 2em;
}

.base {
    bottom: 10%;
}